<h3>Welcome to PokePortal</h3>
<p><%= link_to 'Trainers:', trainers_path %> <%= Trainer.count %> registered</p>

<% if @pokemon and current_trainer %>
  <% if @pokemon.ndex %>
    <%= image_tag("pokemon/#{@pokemon.ndex}.png", alt: "pokemon") %>
  <% end %>
  <p> A wild <%= @pokemon.name %> has appeared!</p>
  <!-- REPLACE THIS LINE BELOW -->
  <%= button_to "Throw a Pokeball!", capture_path(id: @pokemon), :class => "button medium", :method => :patch %>
<% end %>

<%= image_tag("pokemon/pokemon-family.jpg", :alt => "pokemon") %>
