<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<p> Pokemon: </p>
<% @trainer.pokemons.each do |p| %>
<% if p.ndex %>
  <%= image_tag("pokemon/#{p.ndex}.png", alt: "pokemon") %>
<% end %>
<p> Name: <%= p.name %> Level: <%= p.level.to_s() %></p>
<% end %>
